nav {
    /* font-family: 'Actor', Georgia, 'Times New Roman', Times, serif; */
    background-color: rgb(55, 43, 226);
    box-sizing: border-box;
    border: 5px solid red;
    display: flex;
    justify-content: space-evenly;
    opacity: 0.9;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: large;
    padding: 1rem;
    width: 20%;
}
nav a:hover {
    color: red;
    background-color: white;
}